<div class="container">
    <div [formGroup]="taskManagerEditFormGroup" class="task-dialog-container">
        <h1>Update Task</h1>
        
        <tr>
            <mat-form-field appearance="fill">
                <mat-label>Task Name</mat-label>
                <input matInput formControlName="taskName" placeholder="Task Name">
                <mat-error *ngIf="taskManagerEditFormGroup.controls['taskName'].hasError('required')">Task Name is required</mat-error>
            </mat-form-field>
        </tr>
        
        <tr>
            <mat-form-field appearance="fill">
                <mat-label>Task Description</mat-label>
                <input matInput formControlName="taskDescription" placeholder="Task Description">
                <mat-error *ngIf="taskManagerEditFormGroup.controls['taskDescription'].hasError('required')">Task Description is required</mat-error>
            </mat-form-field>
        </tr>
        
        <tr>
            <mat-radio-group formControlName="status" aria-label="Select an option">
                <mat-radio-button [value]="0">New</mat-radio-button>
                <mat-radio-button [value]="1">Progress</mat-radio-button>
                <mat-radio-button [value]="2">Complete</mat-radio-button>
            </mat-radio-group>
        </tr>
    
        <div class="btn-task-dialog">
            <button mat-button [disabled]="taskManagerEditFormGroup.invalid" (click)="save()" mat-stroked-button color="primary">Update</button>
            <button class="btn-one" mat-button (click)="cancel()">Cancel</button>
        </div>
    </div>
</div>
