<div class="container">
    <div [formGroup]="taskManagerAddFormGroup" class="add-task-dialog-container">
        <h1>Create Task</h1>
        <tr>
            <mat-form-field appearance="fill">
                <mat-label>Task Name</mat-label>
                <input matInput formControlName="taskName" placeholder="Task Name">
                <mat-error *ngIf="taskManagerAddFormGroup.controls['taskName'].hasError('required')">Task Name is required</mat-error>
            </mat-form-field>
        </tr>
        
        <tr>
            <mat-form-field appearance="fill">
                <mat-label>Task Description</mat-label>
                <input matInput formControlName="taskDescription" placeholder="Task Description">
                <mat-error *ngIf="taskManagerAddFormGroup.controls['taskDescription'].hasError('required')">Task Description is required</mat-error>
            </mat-form-field>
        </tr>

        <tr>
            <mat-form-field appearance="fill">
                <mat-label>Tag</mat-label>
                <input matInput formControlName="tag" placeholder="Tag">
                <mat-error *ngIf="taskManagerAddFormGroup.controls['tag'].hasError('required')">Task Description is required</mat-error>
            </mat-form-field>
        </tr>
        
    
        <div class="btn-task-dialog">
            <button class="btn-one" mat-button [disabled]="taskManagerAddFormGroup.invalid" (click)="SaveAddData()" mat-stroked-button color="primary">Save</button>
            <button mat-button (click)="CancelAddTask()">Cancel</button>
        </div>
    </div>
</div>
