<div class="star-container">
    <ng-container *ngFor="let star of  counter()">
        <span class="material-icons">star</span>
    </ng-container>
</div>

<!-- <div class="btn-container">
    <div (click)="updateStarRating(true)">
        <span class="material-icons">add</span>
    </div>

    <div (click)="updateStarRating(false)">
        <span class="material-icons">remove</span>
    </div>
</div> -->

<!-- <span class="material-icons">star</span>
<span class="material-icons">star</span>
<span class="material-icons">star</span>
<span class="material-icons">star</span>
<button class="btn" mat-button color="primary" (click)="openRatingDialog()">Click</button> -->
