.page-container{
    margin-top: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 30px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
}

.page-footer{
    margin-top: 30px;
}

button {
    margin-top: 10px;
    border-radius: 8px;
    background: #000;
    color: #fff;
}